header{
    height: 120px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    img{
        height: 80px;
        padding-left: 40px;
    }
}
main{
    height: 130px;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: var(--color-main);
    h1{
        padding-left: 40px;
    }
}